

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>


<% @result = @conn.exec('select uid, name, short_name, definition from vocabulary_term') %> 


<table style="width:70%">
<tr>


<% for @i in 0..@result.nfields - 1
	@fname = @result.fname(@i) 
%>
	<td> <div> <%= @fname  %> </div> </td>
<% end %>

</tr>

<% for @row in @result %>

<tr>
	<% for @i in 0..@result.nfields - 1 
		@fname = @result.fname(@i) 
	%>
	<td> <%= @row[@fname] %> </td>
	<% end %>

</tr>

<% end %>

</table> 



